
 /** 基础通用 **/
 body{ color:#333;font: 12px/1.5 "Microsoft YaHei",tahoma,arial, !important;}
 li{list-style:none;}
.bgfff{background:rgba(255,255,255,0.8);}

.Container{
  width:100%;
  max-width:1200px;
  margin:0 auto;
  }
.p15{
    padding:15px;
}